*{
    margin: 0px;
    padding: 0px;
}
.background{
    background:rgba(0, 0, 0,0.5) url("../images/profile1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    background-blend-mode: darken;
    


}

.heading{
    color: white;
    position: absolute;
    left: 9%;
    top: 35%;
    font-size: 50px;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Rubik', sans-serif;
}


.section-1{
    padding-top: 80px;
    background-color: #d3d3d321;
    padding-bottom: 30px;
}
.section-1heading{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #002a54;
    margin-bottom: 15px;
    font-weight: 700;
}

.section-1para{
    color: #444444;
    line-height: 1.5;
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 15px
}

.image{
    width: 100%;
    height: auto;

}
.section-2{
    padding-top: 50px;
}
.image1{
    width: 100%;
    height: 425px;

}
.section2-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #002a54;
    margin-bottom: 5px;
    font-weight: 700;
    margin: 0 0 0px 25px;
}
.section2-image{
    margin-bottom: 50px;
}
.section2-subheading{
    font-size: 18px;
    margin-bottom: 2px;
    font-weight: 500;
    margin: 0 0 0 25px;
}
.sub-para{
/* margin-bottom: 3px; */
font-weight: 500;
color: #444444;
font-size: 14px;
margin: 0 0 3px 25px;

}

.section2-para{
    color: #444444;
    line-height: 1.4;
    margin: 0 0 5px 25px;
    font-weight: 400;
    font-size: 15px
}
.para-head{
    color: #444444;
    font-weight: 500;
}
.section3{
    padding-top: 50px;
    background-color: #d3d3d321;
    padding-bottom: 30px;
}


.section3-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #002a54;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: center;
}

.section-manage{
background: #d3d3d329;
    margin-top: 12%;
    padding: 24px 24px;
    border-radius: 20px;
}
.md{
    height: 380px;
    margin-top: 40px;
    width: 100%
}
.section3-para{
    color: #444444;
    line-height: 1.5;
     margin: 0 0 0 0; 
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    margin-bottom: 40px;
}
.image3{
    width:100%;
    height:200px;
}
.head{
font-size: 24px;
    text-align: center;
    color: #01557a;
}
.image-head{
    margin-bottom: 15px;
}
.para{
    margin-top: 8px;
    font-size: 15px;
    color: #444444;
    font-weight: 500;
}
.section-4heading{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #002a54;
    padding-top: 20px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.section5{
    /* padding-top: 50px; */
    display: flex;
  align-items: center;
  min-height: 100vh;
}
.busniess{
    padding-bottom: 40px;
}

.placements{
    padding-top: 50px;
}

.sec-5{
    margin-bottom: 30px;
}

.section5-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #002a54;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.para5{
    font-size: 14px;
}

.box3{
    background: navy;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 20px 10px;
    
}
.section5-heading{
    margin-bottom: 5px;
}

/* box3:hover{
    back
    ground: #01557a;
} */
.box4{
    margin-top: 50px;
    text-align: center;
    background: #d3d3d330;
    border-radius: 30px;
    padding: 20px 0px;
    margin-bottom: 40px;
}
.section6{
    padding-top: 50px;

}
.section6-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 0px;
    color: #002a54;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}
.man{
    margin-top: 30px;
}
.headi{
    font-size: 16px;
            color: black;
line-height: 1.7;
}
.headin{
    color: #002a54;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
}
.section7{
    margin-top: 50px;
 background: #d3d3d329; 
}
.H6 {
    font-size: 1rem;
    line-height: 1.7;
    color: black;
}

element.style {
    text-align: center;
}
.section8-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #002a54;
    margin-bottom: 15px;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
}
.head5{
font-size: 15px;
font-weight: 600;
color: black;
line-height: 1.7
}

.head5 a{
    text-decoration: none;
    color: black;



}
.para9{
    

    font-weight: 500;
    line-height: 1.8;
    font-size: 15px;

}
.section8{
    margin-top: 50px;
    /* background: #d3d3d324; */
}
.section9-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #002a54;
    margin-bottom: 15px;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
    
}
.section9{
    margin-top: 50px;
    
}
.section10{
    margin-top: 50px;
    background: #d3d3d324;
}
.section-11{
    margin-top: 50px;
    background: #d3d3d324;
}

.sectionsub{
    margin-top: 50px;
    background: #d3d3d324;

}




/* award slider */
.wrapper {
    width: 100%;
  }
  
  .wrapper .carousel {
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding: 0 60px;
  }
  
  .carousel .card {
    height: 400px;
    border-radius: 5px;
  }
  
  #c1 {
    /* background: url(./img/bike-1.jpg)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #c2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #c3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #c4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #c5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #c6 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  
  
  .image3{
    width:100%;
    height:200px;
  }
  .head{
  font-size: 24px;
    text-align: center;
    color: #01557a;
  }
  .image-head{
    margin-bottom: 15px;
  }
  .para{
    margin-top: 8px;
    font-size: 15px;
    color: #444444;
    font-weight: 500;
  }
  
  .owl-dots {
    text-align: center;
    margin-top: 20px;
  }
  
  .owl-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid #fff !important;
    transition: all 0.3s ease;
  }
  
  .owl-dot:hover,
  .owl-dot.active {
    background-color: #fff !important;
  }
  
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
  }
  
  .owl-prev {
    left: 40px;
  }
  
  .owl-next {
    right: 20px;
  }
  
  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 30px;
    color: #fff;
    transition: all 0.2s;
  }
  
  .fa-chevron-left:hover,
  .fa-chevron-right:hover {
    color: #777;
  }



  .heading-career{
      text-align: right;
      font-family: 'Lobster', cursive;

      
  }





/* resposive part */
   



@media screen and (max-width: 1024px) and (min-width: 768px){

    

.heading {
    color: white;
    position: absolute;
    left: 9%;
    top: 12%;
    font-size: 40px;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.background{
    height: 200px;
}
}
@media screen and (max-width: 600px)
{
    .heading {
        color: white;
        position: absolute;
        left: 9%;
        top: 12%;
        font-size: 40px;
        font-family: 'Alegreya Sans', sans-serif;
        font-family: 'Rubik', sans-serif;
    }
    .background{
        height: 200px;
    }
    .section-1 {
        padding-top: 30px;}
        

.section-1para {
    color: #444444;
    line-height: 1.5;
    margin: 5px 8px 20px 20px;
    font-weight: 400;
    font-size: 20px;
}

.image1 {
    width: 100%;
    height: 200px;
}
.section-1heading {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #002a54;
    margin-bottom: 15px;
}
.section2-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #002a54;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 20px;
}
.section5-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.row{
    margin-top: 0px;
}
.box3 {
    background: navy;
    color: white;
    text-align: center;

    padding: 20px 10px;
    height: 110px;
    margin-bottom: 10px;
}
.box4 {
    margin-top: 50px;
    text-align: center;
    background: #d3d3d330;
    padding: 20px 0px;
}
.section6-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
    color: #002a54;
    font-weight: 700;
    text-align: center;
}
.headin {
    color: #002a54;
    font-size: 30px;
    margin-left: 30px;
}
.head5 {
    font-size: 18px;
    font-weight: 600;
    color: black;
    line-height: 1.7;
    margin-left: 25px;
}
.para9 {
    font-weight: 600;
    line-height: 1.8;
    font-size: 16px;
    margin-left: 25px;
}
.section8-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #002a54;
    margin-bottom: 15px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 25px;
}
.section9-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    color: #002a54;
    margin-bottom: 15px;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}
.section-2 {
    padding-top: 30px;
}
}


